@model IEnumerable<GameApplication.Models.Games.Lobby>

@{
    ViewData["Title"] = @ViewData["gameName"] + " - Lobby";
}
<script>
    $(document).ready(function () {
        updateLobbies('@ViewData["gameName"]');
    });

    function updateLobbies(gameName) {
        $.getJSON("/Lobby/RefreshLobbiesList?gameName=" + gameName, function(lobbies) {
            convertResposneToLobbyTable(lobbies, gameName);
        });

        setTimeout(function () {updateLobbies(gameName);}, 2000);
    }

    function convertResposneToLobbyTable(lobbies, gameName) {
        var isEmpty = lobbies.length === 0;
        showEmptyLobbyMsg(isEmpty);
        showTable(!isEmpty);

        $("#lobbiesTableBody").html('');
        $.each(lobbies, function (index, lobby) {
            console.log(JSON.stringify(lobby));
            $("#lobbiesTableBody").append(buildTableRow(lobby, gameName));
        });
    }

    function showEmptyLobbyMsg(show) {
        if (show) {
            $("#emptyLobbyMsg").show();
        } else {
            $("#emptyLobbyMsg").hide();
        }
    }

    function showTable(show) {
        if (show) {
            $("#lobbiesTable").show();
        } else {
            $("#lobbiesTable").hide();
        }
    }

    function buildTableRow(lobby, gameName) {
        var row = document.createElement("tr");
        var tableDataId = document.createElement("td")
        tableDataId.append(lobby.id);

        var tableDataOwner = document.createElement("td");
        tableDataOwner.append(lobby.owner);

        var tableDataConnectedPlayers = document.createElement("td");
        tableDataConnectedPlayers.append(lobby.numberOfConnectedPlayers);

        var tableDataJoinButton = document.createElement("td")
        var joinGameButton = '<a href="/Lobby/Join?gameName='+ gameName +'&amp;lobbyId='+ lobby.id +'">Dołącz</a>'
        tableDataJoinButton.innerHTML = joinGameButton;
        
        row.append(tableDataId);
        row.append(tableDataOwner);
        row.append(tableDataConnectedPlayers);
        row.append(tableDataJoinButton);
        return row;
    }

</script>
<div class="demo-options mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
    <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
        <section style="color: grey">
            <!-- Show alert box if no lobbies created -->
            <div id="emptyLobbyMsg" class="alertbox info" style="display: none">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                <strong>Informacja!</strong> Nikt aktualnie nie czeka na przeciwnika - stwórz nową poczekalnie i zaproś znajomych
            </div>

            <!-- Create new lobby button -->
            @Html.ActionLink("Nowe lobby", "create", new {gameName = ViewData["gameName"]}, 
            new {@class = "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary",
            @style = "width: 200px;margin-top:40px"})

            <table style="display: none; margin-top:20px" id="lobbiesTable" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Gospodarz</th>
                        <th>Liczba oczekujących graczy</th>
                        <th>TODO</th>
                    </tr>
                </thead>
                <tbody id="lobbiesTableBody"></tbody>
            </table>
        </section>
    </div>
</div>

