@model IEnumerable<GameApplication.Models.Games.Lobby>

@{
    ViewData["Title"] = "Lobby";
}

<script>
    $(document).ready(function () {
        updateLobbies('@ViewData["gameName"]');
    });

    function updateLobbies(gameName) {
        $.getJSON("/Lobby/RefreshLobbiesList?gameName=" + gameName, function(lobbies) {
            convertResposneToLobbyTable(lobbies, gameName);
        });

        setTimeout(function () {updateLobbies(gameName);}, 2000);
    }

    function convertResposneToLobbyTable(lobbies, gameName) {
        var isEmpty = lobbies.length === 0;
        showEmptyLobbyMsg(isEmpty);
        showTable(!isEmpty);

        $("#lobbiesTableBody").html('');
        $.each(lobbies, function (index, lobby) {
            console.log(JSON.stringify(lobby));
            $("#lobbiesTableBody").append(buildTableRow(lobby, gameName));
        });
    }

    function showEmptyLobbyMsg(show) {
        if (show) {
            $("#emptyLobbyMsg").show();
        } else {
            $("#emptyLobbyMsg").hide();
        }
    }

    function showTable(show) {
        if (show) {
            $("#lobbiesTable").show();
        } else {
            $("#lobbiesTable").hide();
        }
    }

    function buildTableRow(lobby, gameName) {
        var result = '<tr>';
        result += '<td>' + lobby.id + '</td>';
        result += '<td>' + lobby.owner + '</td>';
        result += '<td>' + lobby.numberOfConnectedPlayers + '</td>';
        result += '<td>' + lobby.numberOfConnectedPlayers + '</td>';
        result += '<td>' + '<a href="/Lobby/Join?gameName='+ gameName +'&amp;lobbyId='+ lobby.id +'">Dołącz</a>' + '</td>';
        result += '</tr>';
        return result;
    }

</script>

<h2>@ViewData["gameName"] - Lobby</h2>
@Html.ActionLink("Nowa gra", "create", new {gameName = ViewData["gameName"]}, null)

<p style="display: none" id="emptyLobbyMsg">Nikt aktualnie nie czeka na przeciwnika - stwórz nową poczekalnie i zaproś znajomych</p>

<table style="display: none" class="table" id="lobbiesTable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Gospodarz</th>
        <th>Ilość oczekujących graczy</th>
        <th>Akcja</th>
    </tr>
    </thead>
    <tbody id="lobbiesTableBody">
    </tbody>
</table>