@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="demo-options mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--6-col-desktop">
    <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
        @RenderBody()
    </div>
</div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}

