@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Zmiana hasła";
}

@Html.Partial("_StatusMessage", Model.StatusMessage)

<form method="post" style="color: black">
    <!-- TODO redesign flash messages -->
    <div asp-validation-summary="All" class="text-danger"></div>

    <!-- List of input fields for changing password -->
    <!-- Each has two separate spans for plain html and javascript validation messages -->
    <ul class="demo-list-item mdl-list">
        <!-- Old password input field -->
        <li>
            <div class="form-group mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label asp-for="OldPassword" class="mdl-textfield__label" for="sample1">Stare hasło</label>
                <input asp-for="OldPassword" class="form-control mdl-textfield__input" type="password" required>
                <span asp-validation-for="OldPassword" class="mdl-textfield__error text-danger"></span>
            </div>
        </li>
        <!-- New password input field -->            
        <li>
            <div class="form-group mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label asp-for="NewPassword" class="mdl-textfield__label">Nowe hasło</label>
                <input asp-for="NewPassword" class="form-control mdl-textfield__input" type="password" required>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
                <span class="mdl-textfield__error"></span>
            </div>
        </li>
        <!-- New password input field --> 
        <li>
            <div class="form-group mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label asp-for="ConfirmPassword" class="mdl-textfield__label">Potwierdź nowe hasło</label>
                <input asp-for="ConfirmPassword" class="form-control mdl-textfield__input" type="password" required>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                <span class="mdl-textfield__error"></span>
            </div>
        </li>
    </ul>
    <!-- Confirm button with glyph icon -->
    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">done_all</i>
        Zmień hasło
    </button>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
